<div class="container text-center">



  <div class="well well-transparent">
    <a id="logo-lg" href="#"><img ng-src="{{ SETTINGS.STATIC_URL }}img/play.png"/> </a>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3 ">
      <div class="panel panel-default">
        <div class="panel-body">
          <form class="form-horizontal" role="form" name="registerForm">
            <h1>sign up</h1>


            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div class="well well-transparent">

                  <div class="form-group">

                    <input name="email" type="text" class="form-control" id="email"
                           placeholder="Email" ng-model="registerModel.email">

                  </div>

                  <div class="form-group">

                    <input name="username" type="text" class="form-control"
                           placeholder="Username" ng-model="registerModel.username">

                  </div>

                  <div class="form-group">

                    <input name="password1" type="password" class="form-control"
                           placeholder="Password" ng-model="registerModel.password1">

                  </div>

                  <div class="form-group">

                    <input name="password2" type="password" class="form-control"
                           placeholder="Repeat password" ng-model="registerModel.password2">

                  </div>

                  <div class="form-group">

                    <button type="submit" class="btn btn-default" ng-click="register()">Sign up</button>

                  </div>
                  <div class="form-group">
                    Already have an Account -
                    <a ui-sref="login">Login</a>
                  </div>

                </div>
              </div>
            </div>
            <div class="form-group api-response"></div>
          </form>
        </div>
      </div>


    </div>
  </div>
</div>