<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}
      <meta name="description" content="">
      <meta name="author" content="">
    {% endblock meta %}

    {% block title %}
      <title>{% block page_title %}FPG{% endblock page_title %}</title>
    {% endblock title %}

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-simplex-theme.css" type="text/css">
    <link rel="stylesheet" href="{{ STATIC_URL }}bower_components/angular-toastr/dist/angular-toastr.min.css">

    <!--&lt;!&ndash; Custom Fonts &ndash;&gt;
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <base href="/">

  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-simplex-theme.css" type="text/css">

  <!--&lt;!&ndash; Custom Fonts &ndash;&gt;
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">
-->
  <!-- Plugin CSS -->
  <!-- <link rel="stylesheet" href="css/animate.min.css" type="text/css">
-->
  <!-- Custom styles for this website -->
  <link rel="stylesheet" href="{{ STATIC_URL }}css/custom-theme.css" type="text/css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/site.css" type="text/css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


  {% block css %}{% endblock css %}
  {% include '_layout/jssettings.html' %}
  {% block headjs %}{% endblock headjs %}
</head>

<body {% block ngApp %}ng-app="fpgApp"{% endblock ngApp %}>
{% block body %}
  <div class="wrapper">
    {% block header %}
      {% include "_layout/header.html" %}
    {% endblock header %}

    {% block content %}
      {% block sub-nav %}{% endblock sub-nav %}

      <!-- Partial content comes in here -->
      <div ui-view>
        {% block main-container %}
        {% endblock main-container %}
      </div>

    {% endblock content %}
  </div>
  <div class="push"></div>
{% endblock body %}

{% block footer %}
  {% include '_layout/footer.html' %}
{% endblock footer %}

<!-- Placed at the end of the document so the pages load faster -->


<script src="{{ STATIC_URL }}bower_components/jquery/dist/jquery.min.js"></script>
<script src="{{ STATIC_URL }}bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src='{{ STATIC_URL }}js/jquery.backstretch.min.js'></script>

<!-- site js -->
<script src="{{ STATIC_URL }}js/main.js"></script>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bower_components/angular-toastr/dist/angular-toastr.css" />

<!-- angular js stuff -->
<script src="{{ STATIC_URL }}bower_components/angular/angular.js"></script>
<script
    src="{{ STATIC_URL }}bower_components/angular-toastr/dist/angular-toastr.tpls.min.js"></script>

<script
    src="{{ STATIC_URL }}bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script
    src="{{ STATIC_URL }}bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="{{ STATIC_URL }}bower_components/restangular/dist/restangular.min.js"></script>
<script src="{{ STATIC_URL }}bower_components/lodash/lodash.min.js"></script>
<script src="{{ STATIC_URL }}bower_components/angular-cookies/angular-cookies.min.js"></script>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script src="{{ STATIC_URL }}bower_components/angular-payments/lib/angular-payments.js"></script>


{#plugins#}
<script src="{{ STATIC_URL }}djangular/js/django-angular.js"></script>

<script src="{{ STATIC_URL }}js/ngapp/app.js"></script>
<script src="{{ STATIC_URL }}js/ngapp/controllers.js"></script>
<script src="{{ STATIC_URL }}js/ngapp/directives.js"></script>
<script src="{{ STATIC_URL }}js/ngapp/services.js"></script>


{% block bottomjs %}{% endblock bottomjs %}
</body>
</html>