  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a href="https://bootswatch.com/" class="navbar-brand">Find Playground</a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">


        <ul class="nav navbar-nav navbar-right">
          <!-- quick links for dev mode only -->
          <li class="dropdown" dropdown on-toggle="toggled(open)">
            <a type="button" class="dropdown-toggle" dropdown-toggle ng-disabled="disabled">
              RAW Page links <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="./landing.html">Landing Page</a></li>
              <li><a href="./search_results.html">Search Results</a></li>
              <li><a href="./club.html">Club</a></li>
            </ul>
          </li>

          {% verbatim %}
          <li><a ui-sref="home" >Home</a></li>
          <li ng-if="! currentUser.is_authenticated"><a ui-sref="login" >Login</a></li>
          <li ng-if="currentUser.is_authenticated" class="dropdown" dropdown on-toggle="toggled(open)">
            <a type="button" class="dropdown-toggle" dropdown-toggle ng-disabled="disabled">
              {{ currentUser.full_name || currentUser.email }}<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="">Profile</a></li>
              <li><a href="">Logout</a></li>
            </ul>
          </li>
          {% endverbatim %}

        </ul>

      </div>
    </div>
  </div>