<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" data-ng-click="cancel();"><span
      aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h3 class="modal-title">Confirm</h3>
</div>

<div class="modal-body">
  Are you sure you want to perform this action?
</div>

<div class="modal-footer">
  <button data-ng-click="action()" class="btn btn-primary">Ok</button>
  <button data-ng-click="cancel()" class="btn btn-warning">Cancel</button>
</div>