<div>

  <section id="header">
    <div class="container">
      <div class="panel panel-default transparent text-center">
        <div class='panel-body'>

          <h1>Find & Play</h1>
          <small>Lorem Ipsum</small>

          <form class="form-inline">
            <div>
              <div class="form-group">
                <label class="sr-only">Choose Your Location</label>
                <select id="location" name="location" class="form-control" ng-model="filterform.address">
                  <option value="" disabled selected>Choose Your Location</option>
                    <option ng-repeat="address in AddressList" value="{{address.id}}">{{ address.area }}, {{ address.city }} </option>
                </select>
              </div>
              <div class="form-group">
                <label class="sr-only">Choose Your Sport</label>
                <select id="sport" name="sport" class="form-control" ng-model="filterform.sport">
                    <option value="" disabled selected>Choose Your Sport</option>
                    <option ng-repeat="sport in SportList" value="{{sport.id}}">{{ sport.name }} </option>

                </select>
              </div>

                <a class="btn btn-primary" style="display2:none" ng-click="loadData()" >SEARCH</a>

            </div>

          </form>


        </div>
      </div>
    </div>
  </section>

  <section id="aboutus">
    <div class="panel panel-default transparent text-center">
      <div class="panel-body">
        <h1>How it Works!</h1>
      </div>
    </div>
  </section>

  <section id="other">
    <div class="panel panel-default transparent text-center">
      <div class="panel-body">
        <h1>Who we Are?</h1>
      </div>
    </div>
  </section>

</div>