<div class="container-fluid">
  <div class="row">

    <!-- Sidebar -->
      <br>
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><a ui-sref="profile">Profile</a></li>
        <li><a ui-sref="club">My Clubs</a></li>
      </ul>
    </div>

    <!-- My Clubs -->
    <div class="col-sm-9 col-md-10">
      <div>
        <div class="panel panel-default" id="insider">
          <div class="panel-heading">
             <div class="row">
              <div class="col-sm-10">
                <h4 class=""><strong>My Resources</strong></h4>
              </div>
              <div class="col-sm-2">
                <button class="pull-right btn btn-primary btn-sm" ng-click="addResource()"
                        ng-show="newResourceCreated==false">Add Resources</button>
              </div>
                </div>
            </div>
          <div class="panel-body">
            <accordion close-others="true">
              <accordion-group heading="{{resource.name}}" ng-repeat="resource in objectList track by $index">
                <accordion-heading>
                    {{resource.name}}
                    <span class="pull-right glyphicon glyphicon-remove" ng-show="!resource.id" ng-click="resourceRemove(resource)"></span>
                  </accordion-heading>
                  <div class="row" ng-show="!resource.edit">
                   <div class="col-lg-6">
                  <dl class="dl-horizontal">
                    <dt>
                        <span class="glyphicon glyphicon-screenshot">
                        </span>

                      Name:
                    </dt>
                    <dd class="text-capitalize">{{resource.name}}</dd>

                <br>
                    <dt>
                        <span class="glyphicon glyphicon-star">
                        </span>

                      Sport:
                    </dt>
                    <dd>{{resource.sport_details.name}}</dd>

                    <br>
                    <span ng-if="resource.type">
                    <dt>
                        <span class="glyphicon glyphicon-tag">
                        </span>

                      Type:
                    </dt>
                    <dd class="text-capitalize">{{resource.type}}</dd>
                    </span>

                <span ng-if="!resource.type">
                    <dt>
                        <span class="glyphicon glyphicon-tag">
                        </span>

                      Type:
                    </dt>
                    <dd>Not Available</dd>
                </span>

                    <br>
                    <dt>
                        <span class="glyphicon glyphicon-bookmark">
                        </span>

                      Club:
                    </dt>
                    <dd>{{resource.club_details.name}}</dd>

                    <br>
                    <dt>
                        <span class="glyphicon glyphicon-time">
                        </span>

                      <strong>Open Time:</strong>
                    </dt>
                    <dd>{{resource.open_time}}</dd>
                    <br>
                    <dt>
                        <span class="glyphicon glyphicon-time">
                        </span>

                      Close Time:
                    </dt>
                    <dd>{{resource.close_time}}</dd>
                    <br>
                    <dt>
                        <span class="glyphicon glyphicon-usd">
                        </span>

                      Fee's per hour:
                    </dt>
                    <dd>{{resource.fee}}</dd>

                    <br>
                    <dt>
                        <span class="glyphicon glyphicon-tag">
                        </span>

                      Status:
                    </dt>
                    <dd>{{resource.status}}</dd>

                    <br>
                    <dt>
                        <span class="glyphicon glyphicon-info-sign">
                        </span>

                      Description:
                    </dt>
                    <dd>{{resource.description}}</dd>
                    <br>

                <dt>
                   <dd> <button class="btn btn-primary btn-sm" ng-click="resource.edit=true">Edit</button>
                    <button class="btn btn-danger btn-sm" ng-click="remove(resource)">Delete</button></dd>
                </dt>

            </dl>
            </div>
            <div class="col-lg-6" ng-if="resource.photo ">
                <img src="{{resource.photo}}" alt="Resource.name" style="width:304px;height:228px">
            </div>
            </div>

                <!-- Edit mode -->
                 <div class="row" ng-show="resource.edit">
                  <form novalidate="" name="editForm">
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-md-6">
                        <div class="form-group" ng-class="{'has-error':editForm.resource_name.$error.required && (!editForm.resource_name.$pristine || editForm.showFormErrors)}">
                        <label for="resource">Resource Name</label>
                        <input type="text" name="resource_name" class="form-control" ng-model="resource.name"
                               placeholder="Club Name" required>
                      </div>
                      </div>
                      <div class="col-md-6">
                       <div class="form-group" ng-class="{'has-error':editForm.resource_type.$error.required && (!editForm.resource_type.$pristine || editForm.showFormErrors)}">
                        <label for="type">Resource Type</label>
                        <input type="text" name="type" class="form-control" ng-model="resource.type"
                               placeholder="Resource Type" required>
                    </div>
                    </div>
                    </div>


                    <div class="row">
                        <div class="col-md-6">
                        <div class="form-group" ng-class="{'has-error':editForm.resource_name.$error.required && (!editForm.open_time.$pristine || editForm.showFormErrors)}">
                        <label for="open_time">Open Time</label>
                        <input type="text" name="open_time" class="form-control" ng-model="resource.open_time"
                               placeholder="Club Name" required>
                      </div>
                      </div>
                      <div class="col-md-6">
                       <div class="form-group" ng-class="{'has-error':editForm.close_time.$error.required && (!editForm.close_time.$pristine || editForm.showFormErrors)}">
                        <label for="close_time">Close Time</label>
                        <input type="text" name="close_time" class="form-control" ng-model="resource.close_time"
                               placeholder="Close Time" required>
                    </div>
                    </div>
                    </div>

                       <div class="form-group" ng-class="{'has-error':editForm.description.$error.required && (!editForm.description.$pristine || editForm.showFormErrors)}">
                        <label for="description">Description</label>
                        <input type="text" name="description" class="form-control" ng-model="resource.description"
                               placeholder="Close Time" required>
                    </div>


                     <div class="form-group" ng-class="{'has-error':editForm.status.$error.required && (!editForm.status.$pristine || editForm.showFormErrors)}">
                        <label for="status">Status</label>
                        <!--<input type="text" name="description" class="form-control" ng-model="resource.description"-->
                               <!--placeholder="Close Time" required>-->
                        <select ng-model="resource.status">
                          <option value="available">Available</option>
                          <option value="unavailable">Unavailable</option>
                        </select>
                    </div>

                     <div class="form-group" ng-class="{'has-error':editForm.status.$error.required && (!editForm.status.$pristine || editForm.showFormErrors)}">
                        <label for="sport">Sport</label>
                        <input type="text" name="sport" class="form-control" ng-model="resource.sport_details.name"
                               placeholder="Sport" required>
                    </div>

                      <button class="btn btn-primary pull-right" ng-click="save(resource,editForm)">Save</button>

                      <button class="btn btn-danger pull-right" ng-click="resource.edit=false" style="
                        margin-right: 8px;
                        ">Cancel</button>
                       </div>
                  </form>
                </div>

              </accordion-group>
            </accordion>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>