<div class="container-fluid" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
     xmlns="http://www.w3.org/1999/html">
  <div class="row">

    <!-- Sidebar -->
<br>
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active">
            <a ui-sref="profile">Profile</a></li>
        <li><a ui-sref="club" href="#/club">My Clubs</a></li>
      </ul>
    </div>

    <!-- Profile -->

    <div class="col-sm-9 col-md-10">
      <div class="panel panel-default">
          <div class="panel-heading"><h4><strong>My Profile</strong></h4></div>
           <div class="panel-body">
            <div class="row">

            <div class="col-xs-12 col-sm-9 col-md-9 " ng-show="!currentUser.edit">

                <dl class="dl-horizontal">

                    <dt>
                        <span class="glyphicon glyphicon-user">
                        </span>

                      Name:
                    </dt>
                    <dd class="text-capitalize">{{ currentUser.first_name }} {{ currentUser.last_name }}</dd>

                <br>

                <span ng-if="currentUser.profile"><strong><dt>
                    <span class="glyphicon glyphicon-home">
                    </span>
                    Address:

                </dt></strong>

                <dd>
                {{ currentUser.profile.address.lane1 ? currentUser.profile.address.lane1 + ',' : ''}}
                {{ currentUser.profile.address.lane2 ? currentUser.profile.address.lane2 + ',' : ''}}
                </dd>

                <dd>
                    {{ currentUser.profile.address.area ? currentUser.profile.address.area + ',' : '' }}
                    {{ currentUser.profile.address.city ? currentUser.profile.address.city + ',': ''}}
                </dd>

                <dd>{{ currentUser.profile.address.state ? currentUser.profile.address.state + ',' : ''}}
                {{ currentUser.profile.address.country }}

                    <a href="https://www.google.com/maps/@-{{ currentUser.profile.address.lattitude }},{{ currentUser.profile.address.longitude }},8z">
                      <span class="glyphicon glyphicon-map-marker"></span>
                      Show on map
                    </a>

                </dd>

              </span>


              <span ng-if="!currentUser.profile"><strong><dt>
                    <span class="glyphicon glyphicon-home">
                    </span>
                    Address:

                </dt></strong>

                <dd>Not Available</dd>

              </span>

               <br>


              <span><strong><dt>
                    <span class="glyphicon glyphicon-envelope">
                    </span>

                    Email Id:

                </dt></strong>

                <dd>{{ currentUser.email }}</dd>

              </span>


              <br>
              <span ng-if="currentUser.profile.contact_number"><strong><dt>
                    <span class="glyphicon glyphicon-phone-alt">
                    </span>
                    Contact:

                </dt></strong>

                <dd>{{ currentUser.profile.contact_number }}</dd>

              </span>

              <span ng-if="!currentUser.profile.contact_number"><strong><dt>
                    <span class="glyphicon glyphicon-phone-alt">
                    </span>
                    Contact:

                </dt></strong>

                <dd>Not Available</dd>

              </span>
                <br>


              <span ng-if="currentUser.profile.about_me"><strong><dt>
                    <span class="glyphicon glyphicon-comment">
                    </span>
                    About Me:

                </dt></strong>

                <dd>{{ currentUser.profile.about_me }}</dd>

              </span>

              <span ng-if="!currentUser.profile.about_me"><strong><dt>
                    <span class="glyphicon glyphicon-comment">
                    </span>
                    About Me:

                </dt></strong>

                <dd>Not Available</dd>

              </span>
              <br>

              <dt>
                <button class="btn btn-primary btn-sm " ng-click="currentUser.edit=true">
                    Edit </button></dt>


            </dl>
            </div>

            <!-- Edit mode -->
                <div ng-show="currentUser.edit">
                  <form novalidate="" name="editForm">
                    <div class="col-md-6">
                      <div class="form-group" ng-class="{'has-error':editForm.first_name.$error.required && (!editForm.first_name.$pristine || editForm.showFormErrors)}">
                        <label for="first_name">First Name</label>
                        <input type="text" name="fname" class="form-control" ng-model="currentUser.first_name"
                               placeholder="First Name" required>
                      </div>
                      <div class="form-group" ng-class="{'has-error':editForm.last_name.$error.required && (!editForm.last_name.$pristine || editForm.showFormErrors)}">
                        <label for="last_name">Last Name</label>
                        <input type="text" name="Last name" class="form-control" ng-model="currentUser.last_name"
                               placeholder="Last Name" required>
                      </div>
                      <div class="form-group" ng-class="{'has-error':editForm.email.$error.required && (!editForm.email.$pristine || editForm.showFormErrors)}">
                        <label for="email">Email</label>
                        <input type="text" name="contact" class="form-control" ng-model="currentUser.email"
                               placeholder="Email" required>
                      </div>
                      <div class="form-group" ng-class="{'has-error':editForm.contact.$error.required && (!editForm.contact.$pristine || editForm.showFormErrors)}">
                        <label for="contact">Contact Number</label>
                        <input type="text" name="contact" class="form-control" ng-model="currentUser.profile.contact_number"
                               placeholder="Contact Number" required>
                      </div>

                        <div class="form-group" ng-class="{'has-error':editForm.about_me.$error.required && (!editForm.about_me.$pristine || editForm.showFormErrors)}">
                        <label for="about_me">About Me</label>
                        <input type="text" name="about_me" class="form-control" ng-model="currentUser.profile.about_me"
                               placeholder="About Me" required>
                      </div>


                    </div>
                    <div class="col-md-6">
                        <div class="row">
                        <div class="form-group col-md-6" ng-class="{'has-error':editForm.lattitude.$error.required && (!editForm.lattitude.$pristine || editForm.showFormErrors)}">
                          <label for="lattitude">Lattitude</label>
                          <input type="text" name="lattitude" class="form-control" ng-model="currentUser.profile.address.latitude"
                                 placeholder="lattitude">
                        </div>
                        <div class="form-group col-md-6" ng-class="{'has-error':editForm.longitude.$error.required && (!editForm.longitude.$pristine || editForm.showFormErrors)}">
                          <label for="longitude">Longitude</label>
                          <input type="text" name="longitude" class="form-control" ng-model="currentUser.profile.address.longitude"
                                 placeholder="longitude">
                        </div>
                      </div>

                        <div class="form-group" ng-class="{'has-error':editForm.lane1.$error.required && (!editForm.lane1.$pristine || editForm.showFormErrors)}">
                        <label for="lane1">Address Line 1</label>
                        <input type="text" name="lane1" class="form-control" ng-model="currentUser.profile.address.lane1"
                               placeholder="Address line 1" required>
                      </div>
                      <div class="form-group">
                        <label for="lane2">Address Line 2</label>
                        <input type="text" name="lane2" class="form-control" ng-model="currentUser.profile.address.lane2"
                               placeholder="Address line 2">
                      </div><br/>
                      <div class="row">
                        <div class="form-group col-md-6" ng-class="{'has-error':editForm.area.$error.required && (!editForm.area.$pristine || editForm.showFormErrors)}">
                          <label for="area">Area</label>
                          <input type="text" name="area" class="form-control" ng-model="currentUser.profile.address.area"
                                 placeholder="Area" required>
                        </div>
                        <div class="form-group col-md-6" ng-class="{'has-error':editForm.city.$error.required && (!editForm.city.$pristine || editForm.showFormErrors)}">
                          <label for="city">City</label>
                          <input type="text" name="city" class="form-control" ng-model="currentUser.profile.address.city"
                                 placeholder="City" required>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-md-6" ng-class="{'has-error':editForm.state.$error.required && (!editForm.state.$pristine || editForm.showFormErrors)}">
                          <label for="state">State</label>
                          <input type="text" name="state" class="form-control" ng-model="currentUser.profile.address.state"
                                 placeholder="State" required>
                        </div>
                        <div class="form-group col-md-6" ng-class="{'has-error':editForm.country.$error.required && (!editForm.country.$pristine || editForm.showFormErrors)}">
                          <label for="country">Country</label>
                          <input type="text" name="country" class="form-control" ng-model="currentUser.profile.address.country"
                                 placeholder="Country" required>
                        </div>
                      </div>
                      <button class="btn btn-primary pull-right" ng-click="save(currentUser,editForm)">Save</button>
                    </div>
                  </form>
                </div>


             <div class="col-xs-12 col-sm-3 col-md-3 text-center">
                <figure>
                  <img src="{{ currentUser.profile_pic }}" alt="" class="img-circle img-responsive">
                </figure>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>