{% extends "base.html" %}
{% load i18n %}
{% load i18n %}
{% block ngapp %}{#this page will not be a angular app page#}{% endblock ngapp %}

{% block header %}
{# there will be no header on login page #}
{% endblock header %}
{% load url from future %}<br/>
{% block content %}
{% block main-container %}
<div id="content" class="text-center">
  <a id="logo-lg" href="{% url 'home' %}"><img src="{{ STATIC_URL }}img/logo.png"/> </a>

  <div class="well well-transparent">
    <div id="logo-text">Real orgianic fresh local food.</div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3 ">
      <div class="panel panel-default">
        <div class="panel-body">
          {#
          <!--<form method="post" action="{% url 'nlms_login' %}?next={% url 'home' %}">-->#}
          <form method="post" action=".">
            <h1>Password Reset</h1>
            {% csrf_token %}
            {% if form.non_field_errors %}
            <div class="text-left">
              {% for error in form.non_field_errors %}
              <p class="text-danger small"> {{ error }} </p>
              {% endfor %}
            </div>
            {% endif %}

            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div class="well well-transparent">
                  {% if validlink %}

                  <form method="post" action=".">
                    {% csrf_token %}
                    {{ form.as_p }}

                    <input type="submit" value="{% trans 'Submit' %}"/>
                  </form>

                  {% else %}

                  <p>{% trans "Password reset failed" %}</p>

                  {% endif %}
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="well well-transparent well-lg ft-wt">
        © 2015 Organic.org All rights reserved
      </div>
    </div>
  </div>
</div>

{% endblock main-container %}
{% endblock content %}

{% block css %}
<style>
  body {
    padding-top: 0px;
  }
</style>
{% endblock css %}


