{% extends  "_layout/base.html" %}
{% load i18n %}
{% block header %}{% endblock header %}
{% block ngapp %}{#this page will not be a angular app page#}{% endblock ngapp %}
{% block content %}
{% block main-container %}
<div id="content" class="text-center">
  <a id="logo-lg"><img src="{{ STATIC_URL }}img/play.png"/> </a>

  <div class="well well-transparent">
    <div id="logo-text">Real orgianic fresh local food.</div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3 ">
      <div class="panel panel-default">
        <div class="panel-body">
           <form method="post" action=".">
            <h1>Confirmation</h1>
            {% csrf_token %}
            {% if form.non_field_errors %}
            <div class="text-left">
              {% for error in form.non_field_errors %}
              <p class="text-danger small"> {{ error }} </p>
              {% endfor %}
            </div>
            {% endif %}

            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <div class="well well-transparent">

                  <p>{% trans " Your password has been set.  You may go ahead and log in now." %}</p>
                  <a ui-sref="login" >Login</a></a>
                </div>

              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="well well-transparent well-lg ft-wt">
        © 2015 fpg.org All rights reserved
      </div>
    </div>
  </div>
</div>

{% endblock main-container %}
{% endblock content %}

{% block css %}
<style>
  body {
    padding-top: 0px;
  }
</style>
{% endblock css %}

